<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="/styles/kavitacss.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Bit Hack</title>
    <link rel="stylesheet" href="/styles/style.css">
    <link
    rel="shortcut icon"
    href="/assets/images/favicon.png"
    type="image/x-icon"
  />
  <link rel="stylesheet" href="/assets/css/animate.css" />
  <link rel="stylesheet" href="/assets/css/tailwind.css" />

  <!-- ==== WOW JS ==== -->
  <script src="/assets/js/wow.min.js"></script>
  <script>
    new WOW().init();
  </script>

  
    <!-- CSS only -->
   
   
 </head>

<body>
       <!-- ====== Navbar Section Start -->
          <!-- ====== Navbar Section Start -->
          <div class="ud-header absolute top-0 left-0 z-40 flex w-full items-center bg-transparent">
            <div class="container">
                <div class="relative -mx-4 flex items-center justify-between">
                    <div class="w-60 max-w-full px-4">
                        <a href="/dashboard" class="navbar-logo block w-full py-5">
                            <!-- <img src="/assets/images/logo/logo-white.svg" alt="logo" class="header-logo w-full" /> -->
                            Smart Bit Hack
                        </a>
                    </div>
                    <div class="flex w-full items-center justify-between px-4">
                        <div>
                            <button id="navbarToggler" class="absolute right-4 top-1/2 block -translate-y-1/2 rounded-lg px-3 py-[6px] ring-primary focus:ring-2 lg:hidden">
                                <span class="relative my-[6px] block h-[2px] w-[30px] bg-white"></span>
                                <span class="relative my-[6px] block h-[2px] w-[30px] bg-white"></span>
                                <span class="relative my-[6px] block h-[2px] w-[30px] bg-white"></span>
                            </button>
                            <nav id="navbarCollapse" class="absolute right-4 top-full hidden w-full max-w-[250px] rounded-lg bg-white py-5 shadow-lg lg:static lg:block lg:w-full lg:max-w-full lg:bg-transparent lg:py-0 lg:px-4 lg:shadow-none xl:px-6">
                                <ul class="blcok lg:flex">
                                    <li class="group relative">
                                        <a href="/dashboard" class=" mx-8 flex py-2 text-base text-dark group-hover:text-primary lg:mr-0 lg:inline-flex lg:py-6 lg:px-0 lg:text-white lg:group-hover:text-white lg:group-hover:opacity-70">
                                            Home
                                        </a>
                                    </li>
                                    <li class="group relative">
                                        <a href="/about_us_dashboard" class=" mx-8 flex py-2 text-base text-dark group-hover:text-primary lg:mr-0 lg:ml-7 lg:inline-flex lg:py-6 lg:px-0 lg:text-white lg:group-hover:text-white lg:group-hover:opacity-70 xl:ml-12">
                                            About
                                        </a>
                                    </li>
                                    <li class="group relative">
                                      <a href="/contact_us_dashboard" class=" mx-8 flex py-2 text-base text-dark group-hover:text-primary lg:mr-0 lg:ml-7 lg:inline-flex lg:py-6 lg:px-0 lg:text-white lg:group-hover:text-white lg:group-hover:opacity-70 xl:ml-12">
                                          Contact Us
                                      </a>
                                  </li>
                                    <li class="group relative">
                                        <a href="/problem_statements_dashboard" class=" mx-8 flex py-2 text-base text-dark group-hover:text-primary lg:mr-0 lg:ml-7 lg:inline-flex lg:py-6 lg:px-0 lg:text-white lg:group-hover:text-white lg:group-hover:opacity-70 xl:ml-12">
                                            Problem Statements
                                        </a>
                                    </li>
                                    <li class="group relative">
                                        <a href="#contact" class=" mx-8 flex py-2 text-base text-dark group-hover:text-primary lg:mr-0 lg:ml-7 lg:inline-flex lg:py-6 lg:px-0 lg:text-white lg:group-hover:text-white lg:group-hover:opacity-70 xl:ml-12">
                                            Blog
                                        </a>
                                    </li>
                                    <li class="group relative">
                                      <form action="/logout" method="post" class=" mx-8 flex py-2 text-dark text-dark group-hover:text-primary lg:mr-0 lg:ml-7 lg:inline-flex lg:py-6 lg:px-0 lg:text-white lg:group-hover:text-white lg:group-hover:opacity-70 xl:ml-12">
                                        <a  >
                                            <button type="submit">Logout</button> 
                                        </a>
                                      </form>
                                    </li>
                                    <div class="flex">
                                       
                                        <li>
                                          <form action="/logout" method="post" class="  lg:hidden inline-flex items-center justify-center rounded-lg bg-primary py-2 px-4 text-center  text-white transition duration-300 ease-in-out hover:bg-dark shadow-xl sm:px-10">
                                            <a  >
                                                <span class="text-white"><button type="submit">Logout</button> </span>
                                            </a>
                                          </form>
                                        </li>
                                    </div>
                                </ul>
                            </nav>
                        </div>
                        <div class="hidden justify-end pr-16 sm:flex lg:pr-0">
                          <form action="/logout" method="post" class="  lg:hidden inline-flex items-center justify-center rounded-lg bg-primary py-2 px-4 text-center  text-white transition duration-300 ease-in-out hover:bg-dark shadow-xl sm:px-10">
                            <a  >
                                <span class="text-white"><button type="submit">Logout</button> </span>
                            </a>
                          </form>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ====== Navbar Section End -->
     <!-- ====== Navbar Section End -->