<%- include('layouts/header') %>

<div class="container " style="height: 1000px;">
    <div class="row">
        <div class="col-lg-12">
           <form action="/add_team_member/<%-id %> " method="post" id="addd-form" >
            
                  <div class="row d-flex justify-content-center align-items-center">
                    <div class="col-xl-7 ">
              
                  
              
                      <div class="card" style="border-radius: 15px;">
                        <div class="card-body">
              
                              <div class="card-body">
              
                            
                    
                               
                                <div class="row align-items-center pt-4 pb-3">
                                  <div class="col-md-3 ps-5">
                    
                                    <h6 class="mb-0">Team Member name</h6>
                    
                                  </div>
                                  <div class="col-md-9 pe-5">
                    
                                    <input name="name1" type="text" class="form-control form-control-lg" placeholder="Enter Name" />
                    
                                  </div>
                                </div>
                                <hr class="mx-n3">
              
                          <div class="row align-items-center py-3">
                            <div class="col-md-3 ps-5">
              
                              <h6 class="mb-0">Email address</h6>
              
                            </div>
                            <div class="col-md-9 pe-5">
              
                              <input name="emailid1" type="email" class="form-control form-control-lg" placeholder="Enter Email" />
              
                            </div>
                          </div>
              
                          <hr class="mx-3">
                          <div class="row align-items-center py-3">
                            <div class="col-md-3 ps-5">
              
                              <h6 class="mb-0">Branch Name</h6>
              
                            </div>
                            <div class="col-md-9 pe-5">
              
                              <input name="branch1" type="email" class="form-control form-control-lg" placeholder="Enter Branch Name" />
              
                            </div>
                          </div>
              
                          <hr class="mx-3">
                          <div class="row align-items-center py-3">
                            <div class="col-md-3 ps-5">
              
                              <h6 class="mb-0">Phone number</h6>
              
                            </div>
                            <div class="col-md-9 pe-5">
              
                                <input name="phone1" type="text" class="form-control form-control-lg" placeholder="Enter Phone" />
              
                            </div>
                          </div>
                          <hr class="mx-n3">
                     
              
            
              
                          <hr class="mx-n3">
              
                          <div class="px-5 py-4">
                            <button name="submit" type="submit" class="btn btn-primary btn-lg">Submit team details</button>
                          </div>
              
                        </div>
                      </div>
              
                    </div>
                  </div>
                </form>
          
        </div>
    </div>
</div>

<%- include('layouts/footer') %> 