<form action="/add_problem_statement/<%= id %> " method="post" enctype="multipart/form-data">
    <input type="text" name="idea" placeholder="Enter your idea here">
    <textarea name="ideadesc" id="" cols="30" rows="10" placeholder="Enter your idea description here"></textarea>
    <input type="file" name="file1" id="">
    
    <input type="submit" value="Submit" name="submit">
</form>